.dockerignore
.docker-compose.yml
.db.env
.editorconfig
.env
.git
.idea

bootstrap/cache/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**
storage/logs/**
storage/app/public/**
storage/app/triage-backups/**
storage/app/backup-temp/**
public/hot
vendor
